section{
	display: flex;
	background-color: #FFCF94;
}
header{
	background-color: purple;
}
article{
	padding: 10px;
	margin: 10px;
}
article.a{
	background-color: red;
	flex: 1;
}
article.b{
	background-color: blue;
}
footer{
	background-color: brown;
	height: 100px;

}
h1{
	text-align: center;
	color: white;
	line-height: 100px;
	margin: 0;
}
body{
	margin: 0;
	background-image: url(q.gif);
}
html{
	font-family: sans-serif;
}
a{
	color: white;
}